
@if (data.type == '500') {
  <div class="p-3 shadow">
    <h4 class="font-weight-title text-danger"> <span>
      <i class="fa-solid fa-circle-xmark fa-beat"></i>
    </span> {{ data.title }}</h4>
    <div class="text-message">
      {{ data.content? data.content :'Internal Server Error' }}
    </div>
    <div class="text-end">
      <button (click)="onNoClick()" class="bg-success text-white btn btn-sm">OK</button>
    </div>
</div>
}@else {
<div class="p-3 shadow">
    <h4 class="font-weight-title" [ngClass]="(data.title.trim()=='Error!')?'text-danger':(data.title.trim()=='Success!')?'text-success': (data.title.trim()=='Info!')? 'text-primary': 'text-warning'"> <span>
      @if(data.title.trim()=='Error!'){<i class="fa-solid fa-circle-xmark fa-beat"></i>}@else if(data.title.trim()=='Success!'){<i class="fa-solid fa-circle-check fa-beat"></i>}@else if (data.title.trim()=='Info!') {<i class="fa-solid fa-circle-info fa-beat"></i>}@else {
        <i class="fa-solid fa-triangle-exclamation fa-beat"></i>
      }
    </span> {{ data.title }}</h4>
    <div class="text-message">
      {{ data.content? data.content :'Internal Server Error' }}
    </div>
    <div class="text-end">
      <!-- {{data|json}} -->
      <button (click)="onNoClick()" class="bg-success text-white btn btn-sm">OK</button>
    </div>
</div>
}

